#pagebody {
    background-color:#556b2f;
    font-family: Helvetica, impact, 'Times New Roman';
 }

h1 {
    padding: 15px;
    background-color:rgb(102, 107, 93);
    color: #e0e4c1;

 }
 #lowline {
    padding: 15px;
    background-color:rgb(102, 107, 93);
    color: #e0e4c1;

 }
.container{
    display: flex;
    align-items: center;
    padding: 10px;
}
.container img {
    max-width: 50%; 
    height:fit-content; 
    margin-right: 10px;
  }
.centertext{
    text-align: center;
}
#conditions {
    color:azure;
}

.triImage img {
    max-width: 50%; 
    height:fit-content; 
    margin-right: 10px;
  }

